<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <span class="logo-section">Tu będzie logo</span>
    <span class="login-section"><a href="#">Zaloguj</a></span>
    <div class="logo-img"></div>
    <div style="display: flex;">
        <div class="side-img"></div>
        <div>
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="menu-item">@Html.ActionLink("Strona głowna", "Index", "Home")</li>
                            <li class="menu-item">@Html.ActionLink("Ogłoszenia", "Index", "Home")</li>
                            <li class="menu-item">@Html.ActionLink("Kancelaria", "Index", "Home")</li>
                            <li class="menu-item">@Html.ActionLink("Datki", "Index", "Home")</li>
                            <li class="menu-item">@Html.ActionLink("Wydarzenia", "Index", "Home")</li>
                            <li class="menu-item">@Html.ActionLink("Kontakt", "Index", "Home")</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container body-content">
                @RenderBody()
            </div>
        </div>
        <div class="side-img"></div>
    </div>
    <footer>
        <div>Tu będzie stopka</div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
