<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - eParafia - zarządzanie</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<img src="~/Content/Images/eParafiaLog.png" style="width: 100%;"/>
@if (Request.IsAuthenticated)
    {
        @*<span class="login-section" style="padding-right: 60px"><a href="@Url.Action("Index", "Home")">@Session["Name"].ToString()</a></span>*@
        <span class="login-section"><a href="@Url.Action("Logout", "Login")">Wyloguj</a></span>
        <div id="sidebarMenu" class="sideMenu">
            <button href="#" class="btn btn-default sidebar-menu-item">Kalendarz sakramentów</button>
            <button href="#" class="btn btn-default sidebar-menu-item" onclick="location.href='@Url.Action("List", "Advertisements")'">Ogłoszenia</button>
            <button href="#" class="btn btn-default sidebar-menu-item">Służba sakralna</button>
            <button href="#" class="btn btn-default sidebar-menu-item">Katalog parafian</button>
            <button href="#" class="btn btn-default sidebar-menu-item">Zarządzaj kontami</button>
            <script>
                document.getElementsByTagName("body")[0].style.marginLeft = '180px';
            </script>
        </div>
    }
    else
    {
        <span class="login-section"><a href="@Url.Action("Login", "Login")">Zaloguj</a></span>
    }
    <div style="display: flex; padding-left: 10%;">
        <div>
            <div class="navbar navbar-inverse navbar-fixed-top" style="margin-bottom: 0">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav" id="mainMenu">
                            @{string className = "menu-item";}
                            @if (Request.IsAuthenticated)
                            {
                                className = "admin-menu-item";
                            }
                            <li class="@className">@Html.ActionLink("Strona głowna", "Index", "Home")</li>
                            <li class="@className">@Html.ActionLink("Ogłoszenia", "Index", "Advertisements")</li>
                            <li class="@className">@Html.ActionLink("Kancelaria", "Index", "Home")</li>
                            <li class="@className">@Html.ActionLink("Datki", "Index", "Home")</li>
                            <li class="@className">@Html.ActionLink("Wydarzenia", "Index", "Home")</li>
                            <li class="@className">@Html.ActionLink("Kontakt", "Index", "Home")</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container body-content" style="background-color: white;">
                @RenderBody()
            </div>
        </div>
    </div>
    <!----><footer >
        <div>Tu będzie stopka</div>
    </footer>
    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
